

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->

    <link href="~/Theme/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Theme/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Theme/css/horizontal-layout/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Theme/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css" />
    <link href="~/Theme/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("TopHeader")
    @RenderBody()
    <script src="~/Theme/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Theme/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Theme/js/off-canvas.js"></script>
    <script src="~/Theme/js/hoverable-collapse.js"></script>
    <script src="~/Theme/js/template.js"></script>
    <script src="~/Theme/js/settings.js"></script>
    <script src="~/Theme/js/todolist.js"></script>
    <script src="~/Theme/js/dashboard.js"></script>
    <script src="~/Theme/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Theme/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    @*<script src="~/Theme/js/data-table.js"></script>*@
    <script src="~/Theme/js/modal-demo.js"></script>
</body>
</html>
